a{
	text-decoration:none;
}
h1{
	text-decoration:overline;
}

.nav>li>a{
	color:white;
}
.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	color:black;
}

#navpill{
	margin-top:100px;
}
#ranksong{
	color:white;
}
#removesong{
	color:white;

}
#addsong{
	color:white;

}
#notification{
	color:white;
	font-size:25px;
}
