#loader{
/*disable none for view loading page*/
	position:fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	z-index:1055;
	background-color: #2c3e50 ;
}
#loader-cylon{
	margin-top:10%;
	margin-bottom:5%;
}
#loading-txt{
	color:white;
	font-size:70px;
	font-family: 'Clicker Script', cursive;
	border:10px double white;
	display:inline-block;
	padding:15px;
	border-radius:5px;
	text-decoration:overline;

}
